<suite name="Test Suite" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="com.anu.automation.framework.listeners.TestListener"/>
    </listeners>

    <test name="GreenKart Tests">
        <classes>
            <class name="com.anu.automation.framework.testcases.GreenKartHomePage"/>
        </classes>
    </test>

</suite>